<?xml version="1.0" encoding="UTF-8"?>

<web-app>


<servlet>

<servlet-name>mainClass</servlet-name>
<servlet-class>ch.aa.controller.mainClass</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>mainClass</servlet-name>
  <url-pattern>/list</url-pattern>
  
</servlet-mapping>

<servlet>

  <servlet-name>sqlController</servlet-name>
  <servlet-class>ch.aa.controller.sqlController</servlet-class>

</servlet>

<servlet-mapping>
  <servlet-name>sqlController</servlet-name>
  <url-pattern>/request</url-pattern>
  
</servlet-mapping>




</web-app>
